body{
    font: 14px "Open Sans", sans-serif;
    padding: 0;
    margin:0;
}

.homePage{
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;  
    background-size: 100%;
}

.logo{
    margin-top: 1%;
    margin-left: 15%;
}

.menu{
    margin-top: auto;
    margin-right: 7%;
}

.menu a{
    padding:10px;
    font-weight: bold;
    font-size: 1rem;
}

.main-header{
    margin-bottom: 12%;
}

.wrapper{
    margin: 0;
    padding: 0;
}
.sports{
    font-size: 5rem;
    margin-right: 2%;
    margin-bottom: 12%;
}

.products{
    background: #c8c8c8;
}

.brands{
    background-color: #f5f5f5;
    padding-top: 3%;
}

.ourbrands li{
    margin-bottom: 100px;
}
.carousel-indicators li{
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.carousel-indicators .active{
    background-color: black;
}
.promotions{
    background-image: url("../images/promotion.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 6%;
    padding-bottom: 1%;
}

.promo{
    font-size: 3rem;
    margin-bottom:7%;
}

.offers li{
    display: inline-block;
    padding: 10px 10px;   
}

.offers{   
    margin-bottom: 7%;
}

.gallery{
    background-image: url("../images/gallery-fade.png");
    height: 300px;
}

.contact{
    background-image: url("../images/bottom.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    text-align: center;
    padding: 2% 4% 4%;
    margin:0;
}

.contact ul{
    text-align: left;
    margin: 0 auto;
}

.contact a{
    color: black;
}

.contact ul li{
    padding: 5px 0px;
}

.connect li img{
    margin-right: 10px;
}

.link{
    padding-top:2%;
}

.copyright{
    background: #644c4f;
    padding-top: 2%;
    padding-bottom: 1%;
}

.aboutusPage{
    background-image: url("../images/aboutus_bg.jpg");
    background-repeat: no-repeat;  
    background-size: 100%;   
}

.breadcrumb{
    background-color: white;
    margin-left: 0;
    padding-left: 0;
}

.innerContent{
    margin-top: 20% !important;
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.heading{
    text-decoration: underline;
    text-decoration-color: 	#C0C0C0;
    margin-bottom: 3%;
}

.first-para{
    margin-bottom: 5%;
}

.describe{
    margin-bottom: 5%;
}

.describe li p{
    margin-top: 10% !important;
}










/* For both Mobile and Ipad */
@media only screen and (max-width:480px), only screen and (max-width:768px){ 
    .logo{
        margin: 0;
    } 
    .logo img{
        width: 50%;
    }
    .menu{
        text-align: center;
        background-color: #000;
        opacity: 0.7;
        border-radius: 2%;
    }
    .menu a{
        font-size: 0.7rem;
    }
    .sports{
        font-size: 10px;
        padding: 0 10% 0 0;
        margin: -8% 0 0;
        position: relative;
    }
    .header{
        padding-bottom: 10%;
        margin-bottom: 0;
    }

    .homePage .header{
        background: #000  url("../images/banner.png") 100% 0;
        background-size: cover;
    }

    h2{
        font-size: 1rem;
    }

    p{
        font-size: 0.5rem;
    }

    .brands .p-5{
        padding-top: 5% !important;
        margin-left: 17% !important;
    }
    .our-brands img{
        width: 50%;
    }

    .carousel-indicators{
        margin-right: 50% !important;
    }

    .promo{
        font-size: 1rem;
     }

    .category-list img{
        width: 100%;
    }
     .category-list .btn{
         font-size: 0.5rem;
         margin-bottom: 12% !important;
    }

    .products .p-5{
        padding-bottom: 1% !important;
        padding-top: 5% !important;
    }

    .offers img{
        width: 50% !important;
    }

    .timings img{
        width: 47%;
    }

    h1{
        font-size: 1.5rem;
    }

    .innerContent{
        margin-top: -3% !important;
    }

    .heading{
        margin-top: -5%;
    }

}
/* For Mobile only */
@media only screen and (max-width:480px){  
    
}
/* For Ipad only */
@media only screen and (max-width:768px){  
    
}

