body{
    font: 14px "Open Sans", sans-serif;
    color:white;
    padding: 0;
    margin:0;
}

ul{
    margin:0;
    padding:0;
}

.homePage{
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;   
}

.aboutusPage .header{
    background-image: url("../images/aboutus_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.contactusPage{
    background-image: url("../images/contactus_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.faqPage{
    background-image: url("../images/faq_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.featuredcategoryPage{
    background-image: url("../images/featuredcategory_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.galleryPage{
    background-image: url("../images/gallery_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.productPage{
    background-image: url("../images/gallery_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.productPage .products{
    background: white;
}

.ourbrandsPage{
    background-image: url("../images/ourbrands_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.innerContent{
    width: 80%;
    margin: 0 auto;
    color: black;
    overflow: auto;
}

.innerContent img.tempContentImage{
    width: 100%;
}

h1{
    color: #9a0106;
    text-decoration: underline gray;
}

.breadCrumb{
    display: inline-block;
    padding: 0;
    margin: 3% 0 1%;
}

.breadCrumb li{
    display: inline-block;
}

.breadCrumb li span{
    padding: 0 5px;
}

.header{
    padding-bottom: 230px;
    overflow: auto;
}

.logo{
    margin-top: 20px;
    margin-left: 240px;
    float: left;
}

.menu{
    color: white;
    margin-top: 70px;
    margin-right: 52px; 
    float: right;
 }

 .menu li{
    display: inline-block;
}

.menu a{
    color:white;
    padding:10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}
.sports{
    float:right;
    margin-right:52px;
    margin-bottom: 190px;
    clear: both;
    color: white;
    font-weight:bold;
    font-size: 4rem;
}

.products{
    clear: both;
    background: #c8c8c8;
    padding: 0 8% 2%;
    color:#000000;
    float:left;
    text-align: center;
}

.white-bg{
    border:1px solid red;
    position: absolute;
}

.category-list li{
    display: inline-block;
    padding: 5px 2%;
}

.products h2{
    font-size: 35pt;
    margin-top:80px;
    font-weight: normal;
}

.products .discription{
    font-size: 16pt;
    font-weight:200;
}

.category-list li p{
    padding:0;
    margin-top:30px;;
    font-weight:200;
    font-size: 16pt;
    text-transform: uppercase;   
}

.category-list li a{
    text-decoration: none;
    display: inline-block;
    padding:12px 30px;
    background-color: green;
    border-radius: 30px;
    color: white;
    font-weight: bold; 
}

.brands{
    clear: both;
    background-color: #f5f5f5;
    float:left;
    width: 100%;
    text-align: center;
}

.our-brands li{
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 100px;
}

.our-brands{
    text-align: center;
    margin:0;
    padding:0;
}

.brands h2{
    font-size: 35pt;
    margin-top:80px;
    font-weight: normal;   
    color:black;
}

.promotions{
    clear: both;
    background-image: url("../images/promotion.png");
    background-size: 100%;
    float:left;
    width: 100%;
    text-align: center;
}

.offers li{
    display: inline-block;
    padding: 10px 10px;   
}
   
.promotions h2{
    margin-top:85px;
    font-size: 35pt;
    font-weight: normal;
    margin-bottom:75px;
}

.offers{   
    margin-bottom: 115px;
}

.gallery{
    background-image: url("../images/gallery-fade.png");
    clear: both;
    float:left;
    width: 100%;
    text-align: center;
}

.gallery h2{
    margin-top:275px;
    font-size: 35pt;
    font-weight: normal;     
}

.gallery p{
    font-weight:200;
    font-size: 16pt;
    margin-bottom:240px;
    margin-left:50px;
}

.contact{
    clear:both;
    float:left;
    background-image: url("../images/bottom.png");
    background-size: 100% auto;
    color:black;
    width:100%;
    position:relative;
    padding: 2% 0;
    text-align:center;
}

.contact ul{
    float: left;
    width: 25%;
    padding-left: 0;
}

.timings li{
    text-transform: uppercase;
}

.home li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.brand li a{
    text-decoration: none; 
    color: black;
    text-transform: uppercase;   
}

.connect li a{
    text-decoration: none;
    color: black;
  
}

.connect li img{
     margin-right: 10px;
}

 .copyright{
    clear: both;
    float: left;
    padding: 0;
    width:100%;
    text-align: center;
    color: white;
    background: #644c4f;
}

.contact>div{
    width: 75%;
    margin: 0 auto;
    text-align: left;
    overflow: auto
}

.connect{
     margin-right:0;
}

.contact ul li{
     padding: 5px 0px;
}

.contact .timings li:first-child{
     font-weight: bold;
     padding-bottom:20px;
}
 
.timings{
     margin-top:1%
}

.column {
    float: left;
}

.left {
  width: 75%;
  font-weight: normal;
}

.right {
  width: 25%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    display:block;
}

.contact-para{
    font-size: 20px;
}

.heading{
    font-weight: bold;
}

.red{
    color: #cc3333;
}

input[type=text], textarea{
    background-color:#eee;
    color: black;
}

input[type=text]{
    width:70%
}

.captcha{
    width:70%;
}

.contactimg{
    width:80%;
}

.column2-list li{
    padding-bottom: 4%;
}

.contactusform div{
    float: left;
    width: 50%;
    margin: 10px 0;
}

.contactusform label{
    display: block;
}

.question{
    color:red;
}

.featuredcategoryPage .row .left{
    width: 25%;
}

.featuredcategoryPage .row .right{
    width: 75%;
}

.featuredimg{
    width:33%;
}

.borders {
    border-style: none;
    border-bottom-style: dotted;
    border-color: grey;
    border-width: 1px;
    margin-top: 15%;
    font-weight: bold;
    font-size:18px;
    margin-bottom: 10%;
}


@media screen and (min-width: 1400px) {
    .homePage{
        background-size:100% auto;   
    }

    .aboutusPage .header, 
    .contactusPage .header, 
    .faqPage .header, 
    .featuredcategoryPage .header, 
    .galleryPage .header,
    .ourbrandsPage .header, 
    .productPage .header{
        height: 10em;
        background-size: cover;
    }
  }